body, ul {
  margin:0;
}

/*#region Containers and boxes*/
.navbar {
  width: 100%;
  height: 200px;
  background: #5c5c3d;
}

.navbar ul li {
  height: 200px;
  display: inline-block;
  list-style: none;
}

.navbar ul .first {
  width: 15%;
}

.navbar ul .item {
  width: 13%;
}

.navbar ul .last {
  width: auto;
}

section {
  width: 100%;
  float: left;
}

.col {
  width: 50%;
  height: 600px;
  float: left;
}

.col-info {
  padding:10em 60px 7em;
  /* padding-top:10em;
  padding-bottom: 7em; */
}

.col-info a{
  text-decoration: none;
  color:white;
  text-shadow: 1px 1px 1px rgba(0,0,0,.25);
  font-weight: 700;
  font-size: 21.415px;
  line-height: 34.8545px;
  font-family: "Mija", Arial, Helvetica, sans-serif;
}

.col-info a span{
  font-weight:400;
  font-family: "Elena", Arial, Helvetica, sans-serif;
  font-style: italic;
}

.col-info a img{
  background: white;
  display: block;
  transform: scale(1.2) rotateZ(calc(11 * 1deg));
  height: 60px;
  width: 60px;
  float: left;
  margin-right: 30px;
  margin-bottom:30px;
  border-radius: 12px;
}

.col-info h2 a {
  font-size: 43.856px;
  line-height: 52.6272px;
  font-weight: 700;
  margin-top: 21.928px;
  font-family: "Mija", Arial, Helvetica, sans-serif;
  float: left;
}

.col-info h2 a span {
    
    line-height: 1;
    padding: 5px;
    font-size: .35em;
    margin: .625em 0;
    padding-left: 1.75em;
    background-image: url(assets/images/comments-icon.svg);
    background-position: left top 70%;
    background-size: 1.25em auto;
    background-repeat: no-repeat;
    vertical-align: middle;
}

.categories {
  float: left;
  margin-top:30px;
}

.categories a {
  font-size: 17.5304px;
  font-weight: 700;
  line-height:28.0486px;
}

.categories a:first-child {
  margin-right: 17.5304px;
}

.categories a::before {
  content: '#';
    color: grey;
    margin-right: .25em;
    font-size: .8em;
}

.categories a span{
  color: inherit;
    font-weight: 700;
    font-size: .7em;
    position: relative;
    top: -.5em;
}

.categories::after {
    content: '→';
    display: block;
    width: 100px;
    color: #fff;
    font-size: 2em;
    padding: 0;
    bottom: 1em;
    margin-top: 1em;
}



section .one {
  background: #2e2e1f;
}

section .two {
  background: #3d3d29;
}

section .three {
  background: #1f1f14;
}

section .four {
  background: #2e2e1f;
}

article {
  width: calc((100%/3) - 40px);
  /* height: 450px; */
  display: inline-block;
  margin: 0;
}

.articles-block article {
  padding: 2em 20px 7em;
  float: left;
}

.articles-block article h2{
  font-size:28.43px;
font-weight:700;
line-height:34.116px;
margin-bottom:28.43px;
font-family: "Mija", Arial, Helvetica, sans-serif;
}

span.author-block{
  font-size:17.132px;
font-weight:700;
line-height:19.7018px;
margin-bottom:21.415px;
}

.author-block span a {
  text-decoration: underline;
}

.articles-block p{
  font-family:Elena;
font-size:20.9348px;
line-height:34.1341px;
margin-bottom:27.7648px;
}
.b-one {
  background: #adad85;
}

.b-two {
  background: #b8b894;
}

.b-three {
  background: #c2c2a3;
}

.left {
  width: 40%;
  height: 600px;
  float: left;
  background: #c2c2a3;
}

.right {
  width: 60%;
  height: 600px;
  float: right;
  background: #2e2e1f;
}

.promo-section {
  width: 100%;
  height: 900px;
  display: inline-block;
  background: #3d3d29;
}

.main {
  width: 100%;
  height: 400px;
  background: #ccccb3;
}

.art {
  width: 50%;
  height: 350px;
  float: left;
}

.link-one {
  background: #e0e0d1;
}

.link-two {
  background: #ebebe0;
}

.link-three {
  background-color: #c2c2a3;
}

.link-four {
  background: #d6d6c2;
}

.link-five {
  background: #ebebe0;
}

.link-six {
  background: #f5f5f0;
}

.billboard {
  width: 100%;
  height: 500px;
  float: left;
  background: #6b6b47;
}

footer {
  width: 100%;
  height: 650px;
  float: left;
  background: #3d3d29;
}
/*#endregion*/

.header-wrapper{
  padding:0;
  position:relative;
}

.header-wrapper h1 {
  position: absolute;
  max-width:320px;
  background:grey;
  text-align: center;
  margin: auto;
  left:0;
  right:0;
  margin-top:40px;
  padding: 5px;
}



